# name: publish-to-npm
# on:
#   push:
#     branches:
#       - master
# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#         with:
#           fetch-depth: 0

#       # Setup .npmrc file to publish to npm
#       - uses: actions/setup-node@v1
#         with:
#           node-version: "12"
#           registry-url: "https://registry.npmjs.org"
#           scope: "@dxul"

#       - name: Configure git
#         run: |
#           git config --global user.name "${{ github.actor }}"
#           git config --global user.email "${{ github.actor }}@users.noreply.github.com"

#       - name: Install Yarn
#       - run: yarn bootstrap
#       - run: yarn version:ci
#       - run: yarn build:ci

#         # Publish to npm
#         #     - run: yarn publish:ci
#         env:
#           GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#           NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

#       # Setup .npmrc file to publish to GitHub Packages
#       - uses: actions/setup-node@v1
#         with:
#           node-version: 12
#           registry-url: "https://npm.pkg.github.com"
#           scope: "@dxul"

#       - name: Authenticate with the GitHub Package Registry
#         run:
#           echo "//npm.pkg.github.com:_authToken=${{ secrets.GITHUB_TOKEN }}" >
#           ~/.npmrc

#       # Publish to GitHub Packages
#       - run: yarn publish:ci
#         env:
#           GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#           NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
