name: publish-to-npm
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
       fetch-depth: 0

    # Setup .npmrc file to publish to npm
    - uses: actions/setup-node@v1
      with:
        node-version: '12'
        registry-url: 'https://registry.npmjs.org'
        scope: '@dxul'

    - name: Configure git
      run: |
        git config --global user.name "${{ github.actor }}"
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"
    - name: Install Yarn
      run: yarn bootstrap

    - run: yarn version:ci
    - run:  npx lerna publish -y from-package --registry https://registry.npmjs.org/dxul
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # Publish to npm
#     - run: yarn publish:ci
#       env:
#         GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

 

    # Publish to GitHub Packages
#     - run: yarn publish:ci
#       env:
#         GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# name: Release

# on:
#   push:
#     branches:
#       - master

# jobs:
  
#   # release_npm:
#   #   runs-on: ubuntu-latest
#   #   name: Publish Package to NPM
#   #   steps:
#   #     - name: Checkout
#   #       uses: actions/checkout@v2
#   #     - name: Setup Node
#   #       uses: actions/setup-node@v2.1.4
#   #       with:
#   #         node-version: '12'
#   #     - name: Install Packages
#   #       run: yarn bootstrap
#   #     - name: Build Package
#   #       run:  yarn version:ci
#   #     - name: Prepare Package
#   #       run: |
#   #         npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
#   #     - name: Upload Package
#   #       run: yarn publish:ci
   
# #   publish-gpr:
# #     name: Publish to GPR
# #     runs-on: ubuntu-latest
# #     steps:
# #       - uses: actions/checkout@v2
# #         with:
# #           fetch-depth: 0

# #       - uses: actions/setup-node@v1
# #         with:
# #           node-version: 12
# #           registry-url: 'https://npm.pkg.github.com/'

# #       - name: Ensure access
# #         run: npm whoami --registry https://npm.pkg.github.com/
# #         env:
# #           NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# #       - name: Config git user
# #         run: |
# #           git config --global user.name "${{ github.actor }}"
# #           git config --global user.email "${{ github.actor }}@users.noreply.github.com"
# #       - name: Bootstrap lerna
# #         run: yarn bootstrap

# #       - name: Bump versions and publish packages
# #         run: |
# #           yarn version:ci
# #           npx lerna publish -y from-package --registry https://npm.pkg.github.com/dxul
# #         env:
# #           GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
# #           NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#   publish-npm:
#     name: Publish to NPM
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#         with:
#           fetch-depth: 0

#       - uses: actions/setup-node@v1
#         with:
#           node-version: 12
#           registry-url: 'https://registry.npmjs.org/'
#           scope: '@dxul'
#         env:
#           NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

#       - name: Bootstrap lerna
#         run: yarn bootstrap

#       - name: Bump versions and publish packages
#         run: |
#           npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
#           yarn version:ci
#           yarn publish:ci
#         env:
#          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
